USE [master]
GO
/****** Object:  Database [myPosDb]    Script Date: 29/07/2018 23:25:41 ******/
CREATE DATABASE [myPosDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myPosDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\myPosDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myPosDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\myPosDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myPosDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myPosDb]
GO
USE [myPosDb]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 29/07/2018 23:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cashier]    Script Date: 29/07/2018 23:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cashier](
	[username] [varchar](15) NOT NULL,
	[password] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Cashier] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 29/07/2018 23:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Cat_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Cat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 29/07/2018 23:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Contact_No] [nchar](10) NOT NULL,
	[Full_Name] [varchar](100) NOT NULL,
	[Address] [varchar](250) NULL,
	[Loyalty_Points] [float] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Contact_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRN_Note]    Script Date: 29/07/2018 23:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRN_Note](
	[GRN_ID] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_Number] [varchar](20) NOT NULL,
	[Item_Code] [varchar](20) NOT NULL,
	[Received_Qty] [int] NOT NULL,
	[Received_Date] [varchar](25) NOT NULL,
	[Added_By] [varchar](20) NOT NULL,
 CONSTRAINT [PK_GRN_Note] PRIMARY KEY CLUSTERED 
(
	[GRN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Stock]    Script Date: 29/07/2018 23:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Stock](
	[Item_Code] [varchar](20) NOT NULL,
	[Item_Name] [varchar](100) NOT NULL,
	[Unit_Price] [float] NOT NULL,
	[Category] [int] NOT NULL,
 CONSTRAINT [PK_Item_Stock] PRIMARY KEY CLUSTERED 
(
	[Item_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Product]    Script Date: 29/07/2018 23:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Product](
	[Sales_ID] [int] IDENTITY(1,1) NOT NULL,
	[Transaction_ID] [int] NOT NULL,
	[Product_Name] [varchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Gross_Total] [float] NOT NULL,
 CONSTRAINT [PK_Sales_Product] PRIMARY KEY CLUSTERED 
(
	[Sales_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Transaction]    Script Date: 29/07/2018 23:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Transaction](
	[Transaction_ID] [int] NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Time] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Gross_Total] [float] NOT NULL,
	[Cashier_Name] [varchar](15) NOT NULL,
	[LoyaltyCustomerID] [nchar](10) NULL,
 CONSTRAINT [PK_Sales_Transaction] PRIMARY KEY CLUSTERED 
(
	[Transaction_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 29/07/2018 23:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[Item_Code] [varchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[Item_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 29/07/2018 23:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Transaction_ID] [int] NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Time] [timestamp] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Gross_Total] [float] NOT NULL,
	[Cashier_Name] [varchar](15) NOT NULL,
	[LoyaltyCustomerID] [nchar](10) NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Transaction_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GRN_Note]  WITH CHECK ADD  CONSTRAINT [FK_GRN_Note_Item_Stock] FOREIGN KEY([Item_Code])
REFERENCES [dbo].[Item_Stock] ([Item_Code])
GO
ALTER TABLE [dbo].[GRN_Note] CHECK CONSTRAINT [FK_GRN_Note_Item_Stock]
GO
ALTER TABLE [dbo].[Item_Stock]  WITH CHECK ADD  CONSTRAINT [FK_Item_Stock_Item_Category] FOREIGN KEY([Category])
REFERENCES [dbo].[Category] ([Cat_ID])
GO
ALTER TABLE [dbo].[Item_Stock] CHECK CONSTRAINT [FK_Item_Stock_Item_Category]
GO
/****** Object:  StoredProcedure [dbo].[AddItems]    Script Date: 29/07/2018 23:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[AddItems]
@Item_Code varchar(20),
@Item_Name varchar(100),
@Unit_Price float,
@Category int
AS
BEGIN
Insert into Item_Stock(Item_Code,Item_Name,Unit_Price,Category) values(@Item_Code,@Item_Name,@Unit_Price,@Category) 
Insert into Stock(Item_Code,Quantity) values (@Item_Code, 0) 
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteItems]    Script Date: 29/07/2018 23:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[DeleteItems]
@Item_Code varchar(20),
@Item_Name varchar(100),
@Unit_Price float,
@Category int
AS
BEGIN
Delete From Item_Stock Where Item_Code = @Item_Code;
Delete From Stock Where Item_Code = @Item_Code;
END
GO
USE [master]
GO
