<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net46" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net46" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.1000.523" targetFramework="net46" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net46" />
</packages>